.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: .8rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  background: rgb(234, 103, 29);
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 130%;
  text-align: center;
  max-width: 24rem;
  width: 100%;
transition: linear .2s;
  img {
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    transition: linear .2s;
  }
  &:hover{
    background: rgb(214, 94, 25);
    img{
      transform: translateX(.5rem);
    }
  }
}

